/* table,
th,
td {
  padding: 5px;
  border: 0.5px solid;
  text-align: left;
}

td {
  width: 250px;
}

th {
  width: 250px;
}

tr {
  display: flex;
  flex-wrap: wrap;
} */

/* a {
  color: inherit;
} */

h2 {
  margin-bottom: 0px;
}

p {
  margin-top: 10px;
}

.table-wrapper {
  margin-bottom: 40px;
}

.container {
  max-width: 1040px;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9rem;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
}

.styled-table thead tr {
  background-color: #ddd;
  color: #000;
  text-align: left;
  white-space: nowrap;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  word-break: break-all;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #ddd;
}

/*

table {
  border-spacing: 0px;
  border: 1px solid #ddd;
}

td,
th {
  border: 0.25px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f9fbfc;
  color: black;
}

.sub-item:first-child {
  padding-left: 25px;
}
*/

.sub-item:first-child::before {
  content: "↳";
  margin-right: 8px;
  color: rgba(128, 128, 128, 0.8);
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */
