/* table,
th,
td {
  padding: 5px;
  border: 0.5px solid;
  text-align: left;
}

td {
  width: 250px;
}

th {
  width: 250px;
}

tr {
  display: flex;
  flex-wrap: wrap;
} */

/* a {
  color: inherit;
} */

table {
  border-spacing: 0px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.sub-item:first-child {
  padding-left: 25px;
}

.sub-item:first-child::before {
  content: "↳";
  margin-right: 8px;
  color: rgba(128, 128, 128, 0.8);
}
